{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container-fluid" style="padding: 130px 0;">
    <h1 class="text-center">SEPET</h1>
    <div class="container py-5">
        {% if basket_products %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Ürün</th>
                    <th scope="col">Marka-Model</th>
                    <th class="px-3" scope="col">Fiyat</th>
                    <th class="px-5" scope="col">Adet</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    
                    
                    
                        
                    {% for product in basket_products %}

                    <form method="post">
                        {% csrf_token %}
                    <tr>
                        <th scope="row">
                            <div class="d-flex align-items-center">
                                <img src="{{ product.product.fotograf.url }}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                            </div>
                        </th>
                        <td>
                            <h4 class="mb-0 text-dark">{{ product.product.marka }}</h4>
                            <h6 class="mb-0 mt-2 text-dark">{{ product.product.model }}</h6>
                        </td>
                        <td>
                            <p class="mb-0 mt-4 text-dark">₺{{ product.product.fiyat }}</p>
                        </td>
                        <td>
                            <div class="input-group quantity mt-4" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-minus rounded-circle bg-light border" name="btnminus" value="minusbtn" 
                                    {% if product.adet == 1 %}
                                        disabled
                                    {% endif %}
                                        >
                                    <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <input type="text" class="form-control form-control-sm text-center border-0" value="{{ product.adet }}" readonly style="box-shadow: none;">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-plus rounded-circle bg-light border" name="btnplus" value="plusbtn">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" name="btndel" value="delbtn">
                                <i class="fa fa-times text-danger"></i>
                            </button>
                        </td>
                        
                    </tr>
                
         
                    {% endfor %}
                            
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="d-flex justify-content-between">
            <p class="text-dark fs-3">Sepetinde ürün bulunmamaktadır.</p>
            <a class="btn btn-dark py-3 px-5" href="{% url 'category' %}">Alışverişe Başla</a>
        </div>
        {% endif %}
        <!-- <div class="mt-5">
            <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply Coupon</button>
        </div> -->
        
        {% if basket_products %}
        <div class="row g-4 justify-content-end mt-5">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Sipariş Özeti</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Ürün Toplam :</h5>
                            <p class="mb-0 text-dark">₺{{ product_total_price }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">Kargo :</h5>
                            <div class="">
                                <p class="mb-0 text-dark">₺{{ kargo }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Toplam</h5>
                        <p class="mb-0 pe-4 text-dark">₺{{ total_price|intcomma }}</p>
                    </div>

                        <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="submit" name="btncheck" value="checkbtn">Sepeti Onayla</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}


{% block extrajs %}
    <script>
    $(document).ready(function() {    
        // Product Quantity
    $('.quantity button').on('click', function () {
        var button = $(this);
        var oldValue = button.parent().parent().find('input').val();
        if (button.hasClass('btn-plus')) {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 0;
            }
        }
        button.parent().parent().find('input').val(newVal);
    });
});
    </script>
{% endblock extrajs %}
    