{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="container d-flex justify-content-center align-items-center flex-column" style="padding: 200px 0;">
        <h1 class="text-center">Giriş Yap</h1>
        <div class="row w-50">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Şifre</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
                </div>
                <p class="text-dark text-center">Üyelik Oluşturmak için<a href="{% url 'register' %}" class="text-decoration-underline"> Tıklayınız.</a></p>
                <button type="submit" class="btn btn-primary d-block ms-auto">Giriş Yap</button>
              </form>
        </div>
    </div>
{% endblock content %}
    